<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Minuteman - Fast analytics using Redis</title>
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/skeleton.css" />
</head>
<body>
  <div class="container">

    <header class="sixteen columns">
      <img src="/img/minuteman-blue.png" alt="Minuteman" />
    </header>

    <article class="sixteen columns">
      {{ content }}
    </article>

  </div>
</body>
</html>
